/* Global */
:root {
    /* Color */
    --color-white: #ffffff;  /* 기본 흰색 */

    --color-light-white: #eeeeee;  /* 밝은 흰색 */
    
    --color-dark-white: #bdbdbd;  /* 다크 화이트 - 차분한 톤 */
    
    --color-blue: #1f3a68;  /* 진한 파란색 - 신뢰감 있는 색상 */
    
    --color-dark-green: #3C552D;  /* 더 진한 파란색 - 안정감 강조 */
    
    --color-dark-grey: #333333;  /* 어두운 회색 - 세련된 느낌 */
    
    --color-grey: #8a8a8a;  /* 중간 톤 회색 - 신뢰감 있는 분위기 */
    
    --color-light-grey: #b3b3b3;  /* 밝은 회색 - 부드러운 느낌 */
    
    --color-dark-gray: #4e4e4e;  /* 어두운 회색 - 진지한 분위기 */
    
    --color-beige: #EEE2B5;  /* 베이지 - 따뜻한 중립 색상, 고급스러움 */
    
    --color-charcoal: #333333;  /* 차콜 색상 - 고급스러움과 안정감 */
    
    --color-light-charcoal: #4a4a4a;  /* 밝은 차콜 - 부드러운 조화 */
    
    --color-gold: #b69d46;  /* 고급스러운 골드 색상 - 포인트 색상 */
    
    --color-teal: #006d61;  /* 깊은 청록색 - 시원하면서도 신뢰감 주는 색상 */
    
    --color-dark-red: #c0392b;  /* 어두운 빨간색 - 강조 색상 */
    
    --color-dark-pinkred: #CA7373;  /* 회색이 섞인 붉은 색상 - 세련된 분위기 */
    
    
  
  
    /* Font size */
    --font-large: 48px;
  
    --font-medium: 28px;
  
    --font-regular: 18px;
  
    --font-small: 16px;
  
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
  
    --weight-semi-bold: 600;
  
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style: none;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Thpography */
  /* 웹 스타일링 */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-dark-grey);
    margin: 16px 0;
  }
  h2 {
    font-size: var(--font-medium);
  
    font-weight: var(--weight-semi-bold);
  
    color: var(--color-dark-gray);
  
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-dark-gray);
  
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-black);
  
    margin: 4px 0;
  }

  /* 공통 icon header */
  .header__icon {
    font-size: var(--font-large);
    margin: 10px 0;
  }
  
  /* Navbar */
  #navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: transparent;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
  }
  
  #navbar.navbar--dark {
    background-color: var(--color-dark-green);
    padding: 16px;
  }
  
  .navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
  }
  
  .navbar__meun {
    display: flex;
  }
  
  .navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
  }
  
  /* .navbar__menu__item.active { 
    border: 1px solid white; 
    border-radius: var(--size-border-radius);
  } */
  
  .navbar__menu__item:hover {
    /* color: var(--color-dark-green); */
    font-weight: var(--weight-bold);
    /* border-color: var(--color-dark-gray);
    background-color: var(--color-blue); */
  }
  
  /* Toggle button */
  /* 자리에서 빠져나와 포지션이 되는 것 absolute 사용 */
  .navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
  }
  
  /* Home */
  #home {
    background: url("imgs/homebackground.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 100px;
    text-align: center;
  }
  
  .home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
  }
  
  .home__title,
  .home__description {
    color: var(--color-white);
  }
  
  .home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
  }
  
  .home__contact:hover {
    color: var(--color-dark-green);
    /* background-color: var(--color-dark-pinkred); */
  }
  
  /* Section common 공통적인 부분 ->가운데 정렬 한번에*/
  .section {
    padding: 50px;
    text-align: center;
    margin: auto;
  }
  
  .section__container {
    max-width: 1200px;
    margin: auto;
  }
  
  /* About */
  .about__header {
    display: flex;
    justify-content: center;
  }

  .about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
  }
  
  /* line-height 을 높이 만큼 주면 가운데로 이동*/
  .major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-grey);
    border: 1px solid var(--color-dark-red);
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .major_icon i {
    transition: all var(--animation-duration) ease;
  }
  
  .major__icon:hover i {
    color: var(--color-dark-red);
    transform: rotate(-30deg) scale(1.1);
  }
  
  .major__title,
  .major__discription {
    color: var(--color-dark-grey);
  }
  
  .major__discription {
    font-size: var(--font-small);
  }
  
  .school {
    display: flex;
    align-items: center;
  }

  .school__logo {
    width: 52px;
    height: 52px;
  }
  
  .school__descripsion {
    margin: 0px 16px;
    text-align: left;
  }
  
  .school__name,
  .school__period {
    color: var(--color-light-grey);
  }
  
  .school__name {
    font-size: var(--font-small);
  }
  
  .school__period {
    font-size: var(--font-micro);
  }
  
  /* Skill */
  #skills {
    background-color: var(--color-beige);
  }
  .skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
  }
  
  .skillset__title {
    color: var(--color-white);
  }
  
  .skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
  }
  
  .skill_description {
    display: flex;
    justify-content: space-between;
  }
  
  .skll {
    margin-bottom: 32px;
  }
  
  .skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
  }
  
  .skill_value {
    width: 100%;
    height: 3px;
    background-color: var(--color-orange);
  }
  
  .skillset__right {
    flex-basis: 40%;
  }
  
  .tools {
    background-color: var(--color-grey);
  }
  .tools,
  .etc {
    padding: 20px;
  }
  
  /* Work */
  .work__categories {
    margin: 40px;
  }
  
  .category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--size-border-radius);
    padding: 8px 48px;
    position: relative;
  }
  
  .category__btn.selected,
  .category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
  }
  
  .category__btn.selected .category__count,
  .category__btn:hover .category__count {
    opacity: 1;
    top: 0;
  }
  
  .category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 16px;
    opacity: 0;
    transition: var(--animation-duration) ease-in;
  }
  
  .work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
  }
  
  .work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
  }
  
  .project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 310px;
    margin: 2px;
    background-color: var(--color-light-white);
  }
  
  .project.invisible {
    display: none;
  }
  
  .project__img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .prject__description {
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
  }
  
  .project:hover .prject__description {
    opacity: 0.8;
    transform: translateY(0px);
  }
  
  .prject__description h3 {
    color: var(--color-orange);
  }
  
  .prject__description h3:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-dark-white);
  }
  
  /* Testimonial */
  #testimonials {
    background-color: var(--color-light-white);
  }
  
  .tesimonials {
    margin: 40px;
  }
  
  .testimonial {
    display: flex;
    margin: 32px;
  }
  
  .testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 12px;
  }
  
  .testimonial__avatar:nth-child(odd) {
    margin: 40px;
  }
  
  .testimonial__avatar:nth-child(even) {
    margin: 40px;
  }
  
  .testimonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
  }
  
  .testimonial__speech-bubble a {
    color: var(--color-pink);
  }
  
  /* Contact */
  
  #contact {
    background-color: var(--color-pink);
  }
  
  .contact__title,
  .contact__email,
  .contract_rights {
    color: var(--color-white);
  }
  
  .contact__title {
    margin: 32px 0;
  }
  
  .contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
  }
  
  .contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-dark-pink);
    transition: var(--animation-duration);
  }
  
  /* Scroll */
  .arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    /* display: none; 완전히 없어졌다 나타나기 때문에
    애니매이션 적용이 안됨.*/
    /* 대신 opacity 적용 단 안 보여도 클릭 됨 
    pointer-events 사용해서 못 누르게 만듦*/
    transition: opacity 300ms ease-in;
  }
  
  .arrow-up.visible {
    /* display: block; */
    opacity: 1;
    /* 사용 되야 되는 부분 에서는 사용 되게 */
    pointer-events: auto;
  }
  
  /*  For below 768px screen width*/
  @media screen and (max-width: 768px) {
    :root {
      /* Font size */
      --font-large: 30px;
      --font-medium: 18px;
      --font-regular: 16px;
      --font-small: 14px;
      --font-micro: 12px;
    }
    .navbar__toggle-btn {
      display: block;
      top: 16px;
      right: 16px;
      font-size: medium;
    }
    #navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--color-dark-white);
    }
    .navbar__meun {
      flex-direction: column;
      text-align: center;
      width: 100%;
      display: none;
    }
  
    .navbar__meun.open {
      display: block;
    }
  
    .section {
      padding: 16px;
      padding-top: 40px;
    }
  
    .about__majors {
      flex-direction: column;
      margin-top: 30px;
      margin-bottom: 0px;
    }
  
    .major {
      margin-bottom: 38px;
      margin: 30px;
    }
  
    .skillset {
      flex-direction: column;
    }
  
    .category__btn {
      margin: 4px 0;
      width: 100%;
    }
  
    .project {
      flex-grow: 1;
    }
  
    .tesimonials {
      flex-direction: column;
      align-items: center;
    }
  
    .testimonial__avatar {
      width: 120px;
      height: 120px;
    }
    .testimonial__avatar:nth-child(even),
    .testimonial__avatar:nth-child(odd){
      margin 0;
      margin-bottom: 20px;
    }
  
    .testimonial__speech-bubble {
      order: 1;
    }
  
    .arrow-up{
      width: 50px;
      height: 50px;
      font-size: 30px;
      line-height: 50px;
      right: 16px;
      bottom: 16px;
    }
  }
  